@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mahasiswa</h5>
                <p class="card-text">20</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dosen</h5>
                <p class="card-text">10</p>
            </div>
        </div>
    </div>
</div>